.content-cards__task {
  height: 7rem;
  padding: 20px;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #f0f0f0;
  border: 1px solid #d1d1d1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.task__select {
  height: 7.2rem;
  background-color: #d0e4fd;
}
