.container {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__card {
  border-radius: 1.5rem;
  background-color: var(--color-principal);
  border: 3px solid var(--color-secondary);
  transition: background-color 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.09s linear;
}

.container__card-select {
  transition: all 0.09s linear;
  background-color: var(--color-secondary);
  top: -20px;
  position: relative;
  .card__number {
    color: var(--color-principal);
  }
}

.card-medium {
  width: 6rem;
  height: 10rem;
}

.card-minimi {
  height: 6rem;
  width: 3.5rem;
  border-radius: 0.9rem;
  cursor: pointer;
}

.card__noshow-unselect {
  background-color: #e8e9ea;
}

.card__noshow-select {
  align-items: center;
  background: linear-gradient(
      45deg,
      #3993ff 12%,
      transparent 0,
      transparent 88%,
      #3993ff 0
    ),
    linear-gradient(
      135deg,
      transparent 37%,
      #1a7bf2 0,
      #1a7bf2 63%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 37%,
      #3993ff 0,
      #3993ff 63%,
      transparent 0
    ),
    #74b3ff;
  background-size: 17px 17px;
  border: 1px solid hsla(204, 6%, 68%, 0.4);
  box-shadow: 0 2px 4px hsla(204, 6%, 68%, 0.4);
  cursor: pointer;
}

.card__number {
  color: var(--color-secondary);
  font-weight: bold;
}

.card-medium:hover {
  width: 6.3rem;
  height: 10.3rem;
  background-color: #d7e9ff;
  transform: translateY(-1px);
}

.container__card:hover .card__number {
  /* color: var(--color-principal); */
}

.card__name {
  margin: 10px 0 0 0;
}
